<div class="row">

    <div class="col-md-1">


    </div>

    <div class="col-md-2">

        <h1>Backlog</h1>

    </div>

    <div class="col-md-2">

        <h1>To do</h1>

        <task-directive></task-directive>

    </div>

    <div class="col-md-2">

        <h1>Doing</h1>

        <task-directive></task-directive>

    </div>

    <div class="col-md-2">

        <h1>Done</h1>

        <task-directive></task-directive>

    </div>

    <div class="col-md-2">

        <h1>Test failed</h1>

        <task-directive></task-directive>

    </div>

</div>