<form class="form-signin" name="loginForm" ng-controller="LoginController as loginCtrl">
    <h2 class="form-signin-heading">Please sign in !</h2>
    <label for="userName" class="sr-only">Username</label>
    <input id="userName" ng-model="loginCtrl.credentials.user" type="text" class="form-control"
           title="Username" placeholder="Username"/>
    <label for="password" class="sr-only">Password</label>
    <input id="password" ng-model="loginCtrl.credentials.password" type="password" class="form-control"
           title="Password" placeholder="Password"/>

    <input type="submit" class="btn btn-primary pull-right" value="Sign in"/>
</form>
