<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.idl.dao.AssociationDao">
    <resultMap type="fil.iagl.idl.entite.Association" id="Association_ResultMap">
        <id property="id" column="ass_id"/>
        <!--<association property="task" column="ass_id_tsk" select="fil.iagl.idl.dao.TaskDao.getById"/>-->
        <!-- association ou collection pour  test ? -->
        <association property="test" column="ass_id_test" select="fil.iagl.idl.dao.TestDao.getById"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyColumn="ass_id" keyProperty="association.id">
        INSERT INTO ASSOCIATION (ass_id_tsk, ass_id_tst)
        VALUES (#{association.task.id}, #{association.test.id})
    </insert>

    <delete id="delete">
        DELETE FROM ASSOCIATION
        WHERE ass_id = #{idAssociation}
    </delete>
    
    <delete id="deleteForTestId">
    	DELETE FROM ASSOCIATION
    	WHERE ass_id_tst = #{idTest}
    </delete>

    <select id="getAllForTask" resultMap="Association_ResultMap">
        SELECT
            ass_id,
            ass_id_tsk,
            ass_id_tst
        FROM ASSOCIATION
        WHERE ass_id_tsk = #{idTask}
    </select>
    
    
</mapper>