<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fil.iagl.idl.dao.TaskDao">
	<resultMap type="fil.iagl.idl.entite.Task" id="Task_ResultMap">
		<id property="id" column="tsk_id"/>
		<result property="name" column="tsk_name"/>
		<result property="description" column="tsk_description"/>
		<result property="state" column="tsk_state"/>
		<association property="idUser" column="tsk_id_usr" select="fil.iagl.idl.dao.UserDao.getById"/>
	</resultMap>
	
	<insert id="create" useGeneratedKeys="true" keyColumn="tsk_id" keyProperty="task.id">
		insert into TASK (
		tsk_name,
		tsk_description,
		tsk_id_usr,
		tsk_state
		)
		VALUES (
		#{task.name},
		#{task.description},
		#{task.user.id},
		#{task.state}
		)
	</insert>
	
	<update id="changeState">
		update TASK set tsk_state =  #{state}
		where tsk_id = #{id}
	</update>
	
	<delete id="delete">
		delete from TASK
		where tsk_id = #{id}
	</delete>
	
	<update id="update">
		update TASK set tsk_name=#{name}, tsk_description  = #{description}
		where tsk_id = #{id}
	</update>
	

</mapper>