<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fil.iagl.idl.dao.TestDao">
    <resultMap type="fil.iagl.idl.entite.Test" id="Test_ResultMap">
        <id property="id" column="tst_id"/>
        <result property="name" column="tst_name"/>
        <result property="validate" column="tst_validate"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyColumn="tst_id" keyProperty="test.id">
        INSERT INTO TEST (tst_name, tst_validate)
        VALUES (#{test.name}, #{test.validate})
    </insert>

    <select id="getById" resultMap="Test_ResultMap">
        SELECT
            tst_id,
            tst_name,
            tst_validate
        FROM TEST
        WHERE tst_id = #{idTest}
    </select>
    

    <update id="changeState">
        UPDATE tst_validate = #{validate}
        FROM TEST
        WHERE tst_id = #{id}
    </update>

    <delete id="deleteAll">
        DELETE FROM TEST
    </delete>
    
    <delete id="delete">
  	  DELETE FROM TEST
 	   WHERE tst_id = #{id}
    </delete>

    <select id="getAll" resultMap="Test_ResultMap">
        SELECT *
        FROM test;
    </select>

</mapper>