<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fil.iagl.idl.dao.TestDao">
	<resultMap type="fil.iagl.idl.entite.Test" id="Test_ResultMap">
		<id property="id" column="tst_id"/>
		<result property="name" column="tst_name"/>
		<result property="validate" column="tst_validate"/>
	</resultMap>

	<insert id="create" useGeneratedKeys="true" keyColumn="tst_id" keyProperty="test.id">
		insert into TEST (tst_name, tst_validate)
			VALUES (#{test.name}, #{test.validate})
	</insert>
	
	<select id="getById" resultMap="Test_ResultMap">
		select tst_id, tst_name, tst_validate
		from TEST
		where tst_id = #{idTest}
	</select>
	
	<update id="changeState">
		update tst_validate = #{validate}
		from TEST
		where tst_id = #{id}
	</update>
	
	<delete id="delete">
		delete from TEST
		where tst_id=#{idTest}
	</delete>

</mapper>