<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.idl.dao.UserDao">
    <resultMap type="fil.iagl.idl.entite.User" id="User_ResultMap">
        <id property="id" column="usr_id"/>
        <result property="login" column="usr_login"/>
        <result property="password" column="usr_password"/>
    </resultMap>

    <select id="get" resultMap="User_ResultMap">
        SELECT
            usr_id,
            usr_login,
            usr_password
        FROM SCRUM_USER
        WHERE usr_login = #{login}
              AND usr_password = #{password}
    </select>

    <select id="getById" resultMap="User_ResultMap">
        SELECT
            usr_id,
            usr_login,
            usr_password
        FROM SCRUM_USER
        WHERE usr_id = #{id}
    </select>

    <insert id="create" useGeneratedKeys="true" keyColumn="usr_id" keyProperty="user.id">
        INSERT INTO SCRUM_USER (
            usr_login,
            usr_password
        )
        VALUES (
            #{user.login},
            #{user.password}
        )
    </insert>

    <select id="getAll" resultMap="User_ResultMap">
        SELECT
        usr_id,
        usr_login,
        usr_password
        FROM SCRUM_USER
    </select>


</mapper>